@font-face {
    font-family: 'Anson-Regular';
    src: url('../../dist/fonts/Anson-Regular.otf');
}

@font-face {
    font-family: 'goudy-old-style';
    src: url('../../dist/fonts/Goudy Old Style Regular.ttf');
}

@font-face {
    font-family: 'Gabrielle';
    src: url('../../dist/fonts/Gabrielle.ttf');
}